<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body style="margin:0">
    @RenderBody()
    @* @Html.AntiForgeryToken() *@
    <script src="~/js/bundle.js"></script>
</body>

</html>