@cseo:registry=https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/SE-DES-Coherence/npm/registry/ 
@m365-admin:registry=https://uifabric.pkgs.visualstudio.com/_packaging/iss/npm/registry/
always-auth=true